.divContainer {
    display: flex;
    gap: 2px;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: center;
    height: 50px;
    border-bottom: #1c1a1a 2px;
}


a {
    text-decoration: none;
    color: black;
}

.divContainer.dark {
    background-color: #2380e4;
    color: white;
}

.divContainer.light {
    background-color: #ed9696b1;
    color: #1c1a1a;
}