.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #eff5f7;
}

.dark {
  background-color: #2e5784;
  color: white;
}

.light {
  background-color: #ead7d7b1;
  color: #1c1a1a;
}

.light>a {
  color: #1c1a1a;
}

.dark>a {
  color: white;
}

.dark>ul>li>a {
  color: white;
}