.App {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  color: white;
}

.App-link {
  color: #eff5f7;
}

.dark {
  background-color: #2e5784;
  color: white;
}

.light {
  background-color: #ead7d7b1;
  color: #1c1a1a;
}

.light>a {
  color: #1c1a1a;
}

.dark>a {
  color: white;
}

.dark>ul>li>a {
  color: white;
}